@page "/authors/"
@inject IAuthorRepository _repo


<h3>Index</h3>

@if (@Model == null || Model.Count < 1)
{
    <LoadingPrompt Message="" />
}
else
{
    <table class="table embed-responsive">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var author in Model)
            {
                <tr>
                    <td>@author.FirstName</td>
                    <td>@author.LastName</td>
                    <td>
                        <a href="/authors/view/@author.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/authors/edit/@author.Id" class="btn btn-primary">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <a href="/authors/delete/@author.Id" class="btn btn-danger">
                            <span class="oi alert-danger"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IList<Author> Model;

    protected override async Task OnInitializedAsync()
    {
        Model = await _repo.Get(Endpoints.AuthorsEndpoint);
    }

}
