@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<div class="alert-danger">
    <button class="btn btn-primary" @onclick="IncrementCount">Plus</button>
    <button class="btn btn-primary" @onclick="Declement">Minus</button>
</div>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    private void Declement()
    {
        currentCount--;
    }
}
